*{
  background-color: #FFA300;

  
  

}
.jay{
  text-align: center;
  padding-top: 200px;
  font-size: 100px;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}